@import "../../../stylesheets/variables.scss";

.nav-bar {
  position: fixed;
  width: 100%;
  background-color: $primary-color;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  transition: background-color ease-in-out 0.3s;
  z-index: 7;
  &__container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &--heading {
    margin: 0;
    font-size: 20px;
    color: white;
    text-transform: capitalize;
  }
  &--logo {
    width: 135px;
    height: auto;
  }
}
.bg-transparent {
  background-color: transparent;
}
