.home-page {
  > header {
    > img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }
  > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    > div {
      width: 80%;
      > p {
        text-align: justify;
      }
    }
  }
}
